*{
  padding: 0px;
  margin: 0px;
}

header {
  background-color: #222222;
  color: white;
  text-align: center;
  padding: 20px;
}

span{ 
  color: blue;
}

body{
  background-color: #222222;
}

.imgdiv{
background: linear-gradient(to right, black 10%, #36280d 50%, black 90%);
padding-bottom: 20px;
}

.imgdiv img{
  border-radius: 2px;
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 500px;
}

.divbtn{
  width: 100%;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
}


.btn{
  background: mediumblue;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;
  width: 20%;
  height: 25px;
  border-color: mediumblue;
  font-family: poppins;
  
}

.offer{
  color: white;
  margin: 7px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

.DivHi{
  background-color: #222222;
  padding: 60px;
  padding-left: 30px;
}

.DivHi h2{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.DivHi p{
  color: blue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.productdisplay{
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 50px;
}
  

.gallery{
  flex: 1;
  position: relative;
}

.gallery input{
  display: none;
}

.images{
  position: relative;
  height: 400px;
  overflow: hidden;
  border-radius: 10px;
}

.image{ 
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

#img1:checked ~ .images #slide1,
#img2:checked ~ .images #slide2,
#img3:checked ~ .images #slide3,
#img4:checked ~ .images #slide4{
  display: block;
}

.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnails{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.thumbnails label{
}

.thumbnails img{
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 20px;
}

.design-section{
  background-color: black;
  width: 100%;
  display: block;
}

.design-content{
  padding: 50px 30px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.design-content h3{
  color: white;
  font-size: .7rem;
  color: orangered;
  margin-bottom: 1rem;
  font-weight: bold;
}

.design-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 20px;
}


.tag{
  color: lightslategrey;
  margin-bottom: 1rem;
  line-height: 1.6;
  margin-top: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  
.tagline{
  font-weight: bold;
  font-size: 1.86rem;
  text-align: center;
  
}

.camera-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 20px;
}


.camera-section {
  background-color: #222222;
  width: 100%;
  display: block;
}

.camera-content {
  padding: 50px 30px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.camera-content h4 {
  font-size: 0.9rem;
  color: orangered;
  margin-bottom: 1rem;
  font-weight: bold;
}

.camera-content .tagline {
  font-size: 1.5rem;
  font-weight: bold;
}

.camera-stats{
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 40px;
  text-align: center;
  flex-wrap: wrap;
  background-color: #000000;
}

.stat{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}

.stat .label{
  font-size: 1rem;
  font-family: poppins;
  font-weight: bold;
  color: lightgray;
  margin-bottom: 5px;
}

.stat .value{
  font-size: 2.2rem;
  font-weight: bold;
  color: orangered;
  margin-buttom: 5px;
}

.stat .desc{
  font-size: 1rem;
  color: lightgrey;
  font-weight: bold;
  font-family: poppins;
}

.ptag{
  color: lightslategrey;
  margin-bottom: 1rem;
  line-height: 1.6;
  margin-top: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 30px 30px;
  text-align: left;
  font-weight: bold;
}

.tagspan{
  color: white;
}